
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JIM</title>
    <link rel="stylesheet" href="static/styles.css">
</head>

<body>
    <header>
        <h1>JIM</h1>
        <button class="dark-mode-toggle" onclick="toggleDarkMode()">Toggle Dark Mode</button>
    </header>
    
    <div class="container">
        <img src="static/bhaibhai.jpg" alt="Fitness Image">
        
        <h1>Upload a Video for Processing</h1>
        <form method="POST" enctype="multipart/form-data">
            <label for="video">Choose video:</label>
            <input type="file" name="video" accept="video/*" required>
            <label for="exercise_type">Choose exercise type:</label>
            <select name="exercise_type" required>
                <option value="regular_deadlift">Regular Deadlift</option>
                <option value="sumo_deadlift">Sumo Deadlift</option>
                <option value="squat">Squat</option>
                <option value="romanian_deadlift">Romanian Deadlift</option>
                <option value="zercher_squats">Zercher Squats</option>
                <option value="front_squat">Front Squats</option>
            </select>
            <button type="submit">Upload</button>
        </form>

        <h1>Live Stream</h1>
        <form method="POST" action="/live">
            <label for="live_exercise_type">Choose exercise type:</label>
            <select name="live_exercise_type" required>
                <option value="regular_deadlift">Regular Deadlift</option>
                <option value="sumo_deadlift">Sumo Deadlift</option>
                <option value="squat">Squat</option>
                <option value="romanian_deadlift">Romanian Deadlift</option>
                <option value="zercher_squats">Zercher Squats</option>
                <option value="front_squat">Front Squats</option>
            </select>
            <button type="submit">Go Live!</button>
        </form>

        {% if message %}
        <p>{{ message }}</p>
        {% endif %}

        {% if video_url %}
        <h2>Processed Video: {{ video_url }}</h2>
        <video width="600" controls>
            <source src="{{ url_for('static', filename=video_url) }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        {% endif %}

        {% if avg_injury_probability is not none %}
        <h2>Average Injury Probability: {{ avg_injury_probability }}</h2>
        {% endif %}
    </div>

    <script>
        function toggleDarkMode() {
            const body = document.body;
            const container = document.querySelector('.container');
            body.classList.toggle('dark-mode');
            container.classList.toggle('dark-mode');
        }
    </script>
</body>

</html>
